---
# Only the main Sass file needs front matter (the dashes are enough)
---

$theme-color: {{ site.theme_color | default: '#ffffff' }};
$brand-color: {{ site.brand_color | default: '#ff5100' }};
$header-text-color: {{ site.header_text_color | default: '#ffffff' }};
$footer-text-color: lighten($header-text-color, 25%);
$footer-background-color: {{ site.footer_background_color | default: '#ffffff' }};


$content-width: {{ site.content_width | default: '920px' }};

// Click to top theme
$click-to-top-light-background-color: {{ site.click_to_top.light.background_color | default: "white" }};
$click-to-top-light-color: {{ site.click_to_top.light.color | default: "#454545" }};
$click-to-top-dark-background-color: {{ site.click_to_top.dark.background_color | default: "#34323d" }};
$click-to-top-dark-color: {{ site.click_to_top.dark.color | default: "#bbb" }};

// Selection styles
$selection-color: unquote("{{ site.selection.color }}");
$selection-background-color: unquote("{{ site.selection.background_color }}");

@if $selection-color == "" {
  $selection-color: inherit;
}
@if $selection-background-color == "" {
  $selection-background-color: rgba(invert($brand-color), 0.3);
}

@import "yat";